

        <div style="margin-left:auto; margin-right:auto; float:none;width: 58.33333333%;">
            <div style="background-color: #e6e6e6;padding: 20px;padding-left: 40px;padding-right: 40px;">
                <h3 style="text-align: center;color: #4583d0;">Password Recovery</h3>
                <div style="padding-left:20px; padding-right:20px;margin-left: -15px;margin-right: -15px;">
                    <h4 style="font-size: 18px; margin-top: 10px;margin-bottom: 10px;">One Final Step</h4>
                    <p>Clik the link below to Reset your Password.</p>
                </div>
                <div style="margin-top:30px; margin-bottom:40px;margin-left: -15px; margin-right: -15px;">
                    <div class="col-md-12" style="width: 100%;">
                        <a href="{DynamicContent}">
                            <button style="background-image: none;border-radius: 0px;color: white;background-color: #4583d0;border: none;width: 100%;padding: 10px;">Reset Password</button>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    